<div class="container-fluid" style="margin-top: 10px">
  <div class="card">
    <div class="card-body">
      <ul class="list-group" *ngIf="data">
        <div class="row">
          <div class="col-md-3">
            <div class="card filter-container">
              <p>Filters will come here</p>
              <div class="card-content">
                <form>
                  <input type="checkbox">Full Time<br/>
                  <input type="checkbox">Part Time<br/>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-9" *ngIf="detailsForJob == undefined" style="height:620px;overflow:auto">
                  <!-- [class.activeCard]="(company.role == detailsForJob.role && company.type == detailsForJob.type)" -->
            <p class="text-danger">*Note: Click on the Role to see full detials about that job</p>
            <div class="card mb-4" *ngFor="let company of jobsList; let i = index">
              <div class="card-body">
                <h4 class="text-primary">
                 <span  style="cursor:pointer"><strong (click)="viewJobDetails(company)">{{ company.role }}/{{ company.type }}</strong></span>
                  <small class="pull-right postedAt text-muted">Posted :- {{ utilsSrv.getDiffBwDates(company.postedAt) }}</small>
                </h4>
                <h5 class="text-success" style="margin-bottom:0"><b>{{company.companyName}}</b></h5>
                <small class="text-muted"><i class="fas fa-briefcase prefix grey-text"></i> Experience: {{company.experience}} Years</small><br/>
                <p class="text-secondary job-details" style="margin-bottom: 0;">
                  Key Skills:-
                  <span *ngFor="let x of company.requirements;let first=first;let last = last">
                    <span *ngIf="first">{{x}}</span>
                    <span *ngIf = "last && first != last">, {{x}}.</span>
                    <span *ngIf="!first && !last">, {{x}}</span> 
                  </span>
                </p>
                
                <p class="text-secondary job-details" style="margin-bottom: 0;">Location: {{company.location}}</p>
                <span class="text-info">Salary:{{company.salary | currency:' ':false: '1.0-2'}}/-</span>
                <button class="btn btn-success btn-sm pull-right" (click)="applyForJob(company)">Apply</button>
              </div>
            </div>
          </div>
          <div class="col-md-9 mt-2" *ngIf="detailsForJob != undefined">
            <!-- <button class="btn btn-md btn-primary" (click)="back()">Back</button> -->
            <div class="card">
              <div class="card-body">
                <button class="btn btn-md btn-outline btn-primary pull-right" (click)="back()">View All Jobs</button>
                <h4 class="text-primary">
                  <strong>{{ detailsForJob.role }}/{{ detailsForJob.type }}</strong>
                  <!-- <button class="btn btn-sm btn-primary pull-right" (click)="applyForJob(detailsForJob)">Apply</button> -->
                </h4>
                <h4 class="text-success" style="margin-bottom:0"><b>{{detailsForJob.companyName}}</b></h4>
                <dl class="row">
                  <dt class="col-sm-2">Key Skills</dt>
                  <dd class="col-sm-10">
                    <span *ngFor="let x of detailsForJob.requirements;let first=first;let last = last">
                      <span *ngIf="first">{{x}}</span>
                      <span *ngIf = "last && !first">, {{x}}.</span>
                      <span *ngIf="!first && !last">, {{x}}</span> 
                    </span>
                  </dd>

                  <dt class="col-sm-2">Experience</dt>
                  <dd class="col-sm-10">
                    {{ detailsForJob.experience }} Years
                  </dd>

                  <dt class="col-sm-2">Salary:</dt>
                  <dd class="col-sm-10">{{ detailsForJob.salary | currency:' ':false: '1.0-2'}} /-</dd>
                
                  <dt class="col-sm-2">Location:</dt>
                  <dd class="col-sm-10">{{ detailsForJob.location }}</dd>
                
                  <dt class="col-sm-2 text-truncate" *ngIf="detailsForJob.duration != '-1'">Duration</dt>
                  <dd class="col-sm-10" *ngIf="detailsForJob.duration != '-1'">{{ detailsForJob.duration }}</dd>
                
                  <dt class="col-sm-2">Qualification:</dt>
                  <dd class="col-sm-10">
                    <p>
                      <!-- <span *ngFor="let x of company.qualification">{{x}} </span> -->
                      {{detailsForJob.qualification}}
                    </p>
                  </dd>

                  <dt class="col-sm-2">About Job</dt>
                  <dd class="col-sm-10">
                    <p *ngFor="let a of detailsForJob.about; let i = index;">{{i+1}}). {{a}}</p>
                  </dd>
                  <dt class="col-sm-2">Contact Details</dt>
                  <dd class="col-sm-10">
                    <p><i class="fas fa-phone prefix grey-text"></i> {{detailsForJob.contactDetails}}</p>
                  </dd>
                </dl>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-md btn-primary pull-right" (click)="applyForJob(detailsForJob)">Apply</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-md btn-danger btn-center">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
      <ul class="list-group" *ngIf="!data">
        <li class="list-group-item list-group-item-default mb-2">
          <p class="center">No Data</p>
        </li>
      </ul>
    </div>
  </div>
</div>