<div class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding:8px">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand"><Strong>EMS</Strong></a> -->
    <span class="navbar-brand"><strong>E M S</strong></span>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <!-- left side navbar -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <!-- right side navbar -->
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item" *ngIf="!authSrv.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authSrv.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>  

        <!-- after login navbar option -->
        <li *ngIf="authSrv.isLoggedIn()" class="nav-item">
            <p class="nav-username">Welcome - <strong class="bold-name">{{ username }}</strong></p>
        </li>
        <li class="nav-item" *ngIf="authSrv.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item" *ngIf="authSrv.isLoggedIn()">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
<!-- <div  style="margin-top:70px"> -->
  <nav *ngIf="authSrv.isLoggedIn()" class="navbar navbar-expand-lg bg-light fixed rounded-0 m-0 p-0">
    <ul class="nav nav-pills justify-content nav-fill nav-pills-rose">
      <!-- normal user functionalities -->
      <li class="nav-item" *ngIf="user.role == 3">
        <a class="nav-link" [routerLink]="['/findJob']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Find Job</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 3">
        <a class="nav-link" [routerLink]="['/status']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Status of Requests</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 3">
        <a class="nav-link" [routerLink]="['/reqcompany']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Request Company</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 3">
        <a class="nav-link" [routerLink]="['/postproject']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Post Projects</a>
      </li>

      <!-- Admin Funcationalities -->
      <li class="nav-item" *ngIf="user.role == 1">
        <a class="nav-link" [routerLink]="['/reqcompanieslist']" [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}" href="">Company Requests</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 1">
        <a class="nav-link" [routerLink]="['/projectreq']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Project Requests</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 1">
        <a class="nav-link" [routerLink]="['/companieslist']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Companies List</a>
      </li>

      <!-- Company Admin Functionalities -->
      <li class="nav-item" *ngIf="user.role == 2">
        <a class="nav-link" [routerLink]="['/employees']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:false}" href="">Manage Employees</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 2">
        <a class="nav-link" [routerLink]="['/projects']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Manage Projects</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 2">
        <a class="nav-link" [routerLink]="['/info']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Company Info</a>
      </li>
      <li class="nav-item" *ngIf="user.role == 2">
        <a class="nav-link" [routerLink]="['jobs']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:false}" href="">Job Notifications</a>
      </li>

      <!-- Common Functionalites for all authenticated Users -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/notifications']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}" href="">Notifications</a>
      </li>
    </ul>
  </nav>
</div>