/* You can add global styles to this file, and also import other style files */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* loader css */
#loader {
    position: absolute;
    left: 50%;
    top: 250%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid blue;    
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.nav-username{
    color:#fff;
    font-weight: 300;
    display: block;
    padding: 0.5rem 1rem;
}
.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}

.navbar .nav-pills {
    padding: 0;
    background-color: #f7faff;
    width: 100%;
}
.navbar .nav-pills .nav-item {
    margin: 0 !important; 
}
.navbar .nav-pills .nav-item .nav-link {
    border-radius: 0;
    font-size: 18px; 
}

body{
    background-color: #f5f5f6;
}

/* added css for forms */
.hm-gradient {
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
    margin-top: 100px;
}
.darken-grey-text {
    color: #2E2E2E;
}
.danger-text {
    color: #ff3547; }
.default-text {
    color: #2BBBAD; 
}
.info-text {
    color: #33b5e5; 
}
.form-white .md-form label {
  color: #fff; 
}
.form-white input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
}
.form-white input[type=text]:focus:not([readonly]) + label {
    color: #fff; 
}
.form-white input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
}
.form-white input[type=password]:focus:not([readonly]) + label {
    color: #fff; 
}
.form-white input[type=password], .form-white input[type=text] {
    border-bottom: 1px solid #fff; 
}
.form-white .form-control:focus {
    color: #fff;
}
.form-white .form-control {
    color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: #fff; 
}
.form-white textarea.md-textarea  {
    border-bottom: 1px solid #fff;
    color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly])+label {
    color: #fff;
}
.ripe-malinka-gradient {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.near-moon-gradient {
    background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
}

/* own css */
.md-form select{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
    margin-left: 3rem;
    width: calc(100% - 3rem)
    /* margin-right: 3rem; */
}

.md-form select:focus{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
    margin-left: 3rem;
    width: calc(100% - 3rem)
    /* margin-right: 3rem; */
}

.note{
    color: #ff3547;
}

/* .md-form prefix~select{
    margin-left: 3rem;
} */

.heading{
    color: gray;
}
.mat-horizontal-content-container{
    height: 100vh;
}

.vl{border-left: 1px solid gainsboro; height: 100%}
.example-full-width{width: 100%;}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
    /* margin-top: 0; */
    width: 100%;
}
.job-details{
    font-size: 15px;
    font-weight: 400;
}