<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mb-4">
      <div class="card" style="margin-top:20px">
        <div class="card-header">
            <h2>Job Notification Form
              <a class="btn btn-md btn-info pull-right" [routerLink]="['/','jobs','released']">Show Posted Notifications</a><br/>
            </h2> 
        </div>
        <div class="card-body">
          <form>
            <!-- <h2 class="text-center font-up font-bold deep-orange-text py-4">Sign up</h2> -->
            <div class="md-form">
              <i class="fas fa-user-tie prefix grey-text"></i>
              <select class="form-control dropdown" name="empRole" [(ngModel)]="empRole">
                <option value="-1">Select Role</option>
                <option value="ud">UI Developer</option>
                <option value="bd">Backend Developer</option>
                <option value="tester">Tester</option>
                <option value="hr">HR</option>
                <option value="ba">Bussiness Analyst</option>
              </select>
            </div>
            <div class="md-form">
              <i class="fas fa-arrow-alt-circle-right prefix grey-text"></i>
              <select class="form-control dropdown" name="empType" [(ngModel)]="empType">
                <option value="-1">Select Employement Type</option>
                <option value="full">Full Time</option>
                <option value="internship">Internship</option>
              </select>
            </div>
            <div class="md-form" *ngIf="empType=='internship'">
              <i class="fas fa-business-time prefix grey-text"></i>
              <select class="form-control dropdown" name="duration" [(ngModel)]="duration">
                <option value="-1">Select Internship Duration</option>
                <option value="3m">3 Months</option>
                <option value="6m">6 Months</option>
                <option value="1y">1 year</option>
              </select>
            </div>
            <div class="md-form">
              <i class="fas fa-map-marker-alt prefix grey-text"></i>
              <select class="form-control dropdown" name="branch" [(ngModel)]="branch">
                <option value="-1">Select Branch</option>
                <option value="{{branch}}" *ngFor="let branch of branches">{{branch}}</option>
              </select>
            </div>
            <div class="md-form">
              <!-- <i class="fas fa-rupee-sign prefix grey-text"></i> -->
              <i class="fas fa-coins prefix grey-text"></i>
              <input type="text" autocomplete="off" name="salary" [(ngModel)]="salary" placeholder="Salary per month" class="form-control">
            </div>
            <div class="md-form">
              <i class="fas fa-certificate prefix grey-text"></i>
              <input type="text" autocomplete="off" name="requirements" [(ngModel)]="requirements" placeholder="Requirements" class="form-control">
            </div>
            <div class="md-form">
              <i class="fas fa-edit prefix grey-text"></i>
              <textarea name="about" [(ngModel)]="description" rows="3" placeholder="Write something about you company" class="form-control"></textarea>
            </div>
            <div class="text-center">
              <button type="submit" (click)="postNotification()" class="btn btn-deep-orange">Post Notification</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>