<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 mb-4">
      <div class="card" style="margin-top:20px">
        <div class="card-header">
            <h2>Job Notification Form
              <a class="btn btn-md btn-info pull-right" [routerLink]="['/','jobs','released']">Show Posted Notifications</a><br/>
            </h2> 
        </div>
        <div class="card-body">
          <form>
            <!-- Roles -->
            <div class="md-form">
              <i class="fas fa-user-tie prefix grey-text"></i>
              <select class="form-control" name="jobRole" [(ngModel)]="jobRole">
                <option value="-1">Select Role</option>
                <option value="{{type.key}}" *ngFor="let type of empRoles">{{type.value}}</option>
              </select>
            </div>
            <!-- Emp Type -->
            <div class="md-form">
              <i class="fas fa-arrow-alt-circle-right prefix grey-text"></i>
              <select class="form-control dropdown" name="jobType" [(ngModel)]="jobType">
                <option value="-1">Select Job Type</option>
                <option value="Full Time">Full Time</option>
                <option value="Internship">Internship</option>
              </select>
            </div>
            <!-- Duration -->
            <div class="md-form" *ngIf="jobType=='Internship'">
              <i class="fas fa-business-time prefix grey-text"></i>
              <select class="form-control dropdown" name="duration" [(ngModel)]="duration">
                <option value="-1">Select Internship Duration</option>
                <option value="3m">3 Months</option>
                <option value="6m">6 Months</option>
                <option value="1y">1 year</option>
              </select>
            </div>
            <!-- Branches -->
            <div class="md-form">
              <i class="fas fa-map-marker-alt prefix grey-text"></i>
              <div style="padding-left: 50px">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Select Branches" name="selectedBranches" [(ngModel)]="selectedBranches" multiple>
                    <mat-select-trigger>
                      {{selectedBranches ? selectedBranches[0] : ''}}
                      <span *ngIf="selectedBranches.length > 1" class="example-additional-selection">
                        (+{{selectedBranches.length - 1}} {{selectedBranches.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let branch of branches" [value]="branch">{{branch}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- Salary -->
            <div class="md-form">
              <i class="fas fa-coins prefix grey-text"></i>
              <input type="text" autocomplete="off" name="salary" [(ngModel)]="salary" placeholder="Salary per month" class="form-control">
            </div>
            <!-- Experience -->
            <div class="md-form">
              <i class="fas fa-briefcase prefix grey-text"></i>
              <select class="form-control" name="experience" [(ngModel)]="experience">
                <option value="-1">Select Experience</option>
                <option value="{{type.key}}" *ngFor="let type of experiences">{{type.value}}</option>
              </select>
            </div>
            <!-- Requirements -->
            <div class="md-form">
              <i class="fas fa-certificate prefix grey-text"></i>
              <div style="padding-left: 50px">
                <ng-multiselect-dropdown
                [placeholder]="'Select Requirements For this Job.(Key Skills)'"
                [data]="skills"
                name = "requirements"
                [(ngModel)] = "requirements"
                [settings]="dropdownSettings"
                ></ng-multiselect-dropdown>
              </div>
            </div>
            <!-- Education Qualification -->
            <div class="md-form">
              <i class="fas fa-graduation-cap prefix grey-text"></i>
              <div style="padding-left: 50px">
                <ng-multiselect-dropdown
                [placeholder]="'who can apply for this job.Select Educational Details'"
                [data]="qualifications"
                name = "qualification"
                [(ngModel)] = "qualification"
                [settings]="dropdownSettings"
                ></ng-multiselect-dropdown>
              </div>
            </div>
            <!-- About -->
            <div class="md-form">
              <i class="fas fa-edit prefix grey-text"></i>
              <textarea name="about" [(ngModel)]="about" rows="3" placeholder="Write something about this job" class="form-control"></textarea>
            </div>
            <!-- Contact Details -->
            <div class="md-form">
              <i class="fas fa-phone prefix grey-text"></i>
              <input type="text" [(ngModel)]="contactDetails" name="contactDetails" class="forma-control" placeholder="Enter Contact Details">
            </div>

            <div class="text-center">
              <button type="submit" (click)="postNotification()" class="btn btn-deep-orange">Post Notification</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>