<div class="container-fluid mt-30" style="background-color:white;height:100vh">
  <nav aria-label="breadcrumb" style="padding-top: 15px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/','jobs', 'post']">Post Notification</a></li>    
      <li class="breadcrumb-item active" aria-current="page">Released Notifications</li>
    </ol>
  </nav>
  <h3 class="p-3 mb-4 border-bottom">
    <b>Released Job Notifications</b>
  </h3>
  <ul class="list-group" *ngIf="data">
    <div class="row">
      <div class="col-md-2">
        Filter
      </div>
      <div class="col-md-6 jobs-container">
        <!-- <div class="row">
          <div class="col-md-10"> -->
            <li *ngFor="let company of notifications; let i = index" class="list-group-item list-group-item-default mb-2 mt-2">
              <h4 (click)="showDetailsOfPost(company)" style="cursor: pointer">
                {{company.role}}
                <span class="pull-right postedAt text-secondary">
                  <small>Posted :- {{ utilsSrv.getDiffBwDates(company.postedAt) }}</small>                        
                </span>
              </h4>
            </li>
          <!-- </div>
        </div> -->
      </div>
      <div class="col-md-4">
        <div class="vl p-2" *ngIf="!showDetails">
          <p class="text-muted">Details About Post Will Display here</p>
        </div>
        <div class="vl p-2" *ngIf="showDetails">
          <div class="card">
            <div class="card-body">
              <h4 class="text-primary">
                <strong>{{ detailsForJob.role }}/{{ detailsForJob.type }}</strong>
                <!-- <small class="pull-right postedAt text-muted">Posted :- {{ utilsSrv.getDiffBwDates(detailsForJob.postedAt) }}</small> -->
              </h4>
              <dl class="row">
                <dt class="col-sm-4">Key Skills</dt>
                <dd class="col-sm-8">
                  <span *ngFor="let x of detailsForJob.requirements;let first=first;let last = last">
                    <span *ngIf="first">{{x}}</span>
                    <span *ngIf = "last && !first">, {{x}}.</span>
                    <span *ngIf="!first && !last">, {{x}}</span> 
                  </span>
                </dd>

                <dt class="col-sm-4">Experience</dt>
                <dd class="col-sm-8">
                  {{ detailsForJob.experience }} Years
                </dd>

                <dt class="col-sm-4">Salary:</dt>
                <dd class="col-sm-8">{{ detailsForJob.salary | currency:' ':false: '1.0-2'}} /-</dd>
              
                <dt class="col-sm-4">Location:</dt>
                <dd class="col-sm-8">{{ detailsForJob.location }}</dd>
              
                <dt class="col-sm-4 text-truncate" *ngIf="detailsForJob.duration != '-1'">Duration</dt>
                <dd class="col-sm-8" *ngIf="detailsForJob.duration != '-1'">{{ detailsForJob.duration }}</dd>
              
                <dt class="col-sm-4">Qualification:</dt>
                <dd class="col-sm-8">
                  <p>
                    <!-- <span *ngFor="let x of company.qualification">{{x}} </span> -->
                    {{detailsForJob.qualification}}
                  </p>
                </dd>

                <dt class="col-sm-4">About Job</dt>
                <dd class="col-sm-8">
                  <p *ngFor="let a of detailsForJob.about; let i = index;">{{i+1}}). {{a}}</p>
                </dd>
                <dt class="col-sm-4">Contact Details</dt>
                <dd class="col-sm-8">
                  <p><i class="fas fa-phone prefix grey-text"></i> {{detailsForJob.contactDetails}}</p>
                </dd>
                <dt class="col-sm-4">Posted On</dt>
                <dd class="col-sm-8">
                  {{ detailsForJob.postedAt | date }} 
                </dd>
              </dl>
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary btn-sm pull-right" (click)="appliedCandidates(detailsForJob)">View Applicants</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-sm btn-danger" (click)="deletePost(detailsForJob)">Delete Post</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </ul>
  <ul class="list-group" *ngIf="!data">
    <li class="list-group-item">
      <h4 class="center"><b>No Released Notifications</b></h4>
    </li>
  </ul>
</div>