<div class="container" style="margin-top: 10px">
  <div class="card">
    <div class="card-header bg-default">
      <h4 class="pull-left" style="color:white">Requests for Job</h4>
      <a class="btn btn-md btn-primary pull-right" href="/employees">Back To Emp</a>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-default mb-2">
          <div class="row">
            <div class="col-md-2">
              <img src="../../img/profile.jpg" width="60px" height="60px" alt="profile"/>
            </div>
            <div class="col-md-10">
              <h2>Person Name
                <span class="pull-right">
                  <button class="btn btn-primary btn-md">View</button>
                  <a class="btn btn-warning btn-md" href="employees/hire">Hire</a>
                  <button class="btn btn-danger btn-md">Reject</button>
                </span>
              </h2>
              <p>sub-title</p>
              <div class="row">
                <div class="col"><strong>Technical Skills: </strong> Value</div>
                <div class="col"><strong>Type: </strong> Fresher/Experienced</div>
                <div class="col"><strong>Applied For: </strong> Value</div>
                <div class="col"><strong>Location: </strong> Value</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>