<div class="container-fluid" style="margin-top: 10px">
  <div class="card">
    <div class="card-body">
      <h3>
        <b>Requests For Companies</b>
      </h3>
      <ul class="list-group" *ngIf="!noData">
        <div class="row">
          <div class="col-md-4 d-flex align-items-stretch" *ngFor="let company of requests">
            <li class="list-group-item list-group-item-default mb-2">
              <h2 class="text-primary">
                <strong>{{company.name}}</strong>
                <span class="date pull-right text-muted" style="font-size:14px;"><strong>Established Date: </strong>{{ company.establishedAt | date: 'MMM dd, yyyy' }}</span>
              </h2>
              <p *ngFor="let x of company.about">{{x}}</p>
              <dl class="row">
                <dt class="col-sm-4">Website</dt>
                <dd class="col-sm-8">
                  <a href="http://{{company.website}}" target="blank">{{ company.website }}</a>
                </dd>
                <dt class="col-sm-4">Branches</dt>
                <dd class="col-sm-8">
                  <span *ngFor="let branch of company.branches;let first=first;let last = last">
                    {{branch}}
                  </span>
                </dd>
                <dt class="col-sm-4">Awards</dt>
                <dd class="col-sm-8">
                  <span *ngFor="let award of company.awards;let first=first;let last = last">
                    {{award}}
                  </span>
                </dd>
                <dt class="col-sm-4">Address</dt>
                <dd class="col-sm-8">
                  <span *ngFor="let a of company.address;let first=first;let last = last">
                    {{a}}<br/>
                  </span>
                </dd>
              </dl>
              <button class="btn btn-success btn-md pull-right" (click)="acceptRequest(company)"><strong>Accept</strong></button>
              <button class="btn btn-danger btn-md pull-right"><strong>Reject</strong></button>
            </li>
          </div>
        </div>
      </ul>
      <ul class="list-group" *ngIf="noData">
        <li class="list-group-item">
          <b>No Requests</b>
        </li>
      </ul>
    </div>
  </div>
</div>