<div class="container-fluid" style="margin-top: 10px">
  <div class="card">
    <div class="card-body">
      <h3>
        <b>Requests For Companies</b>
      </h3>
      <ul class="list-group" *ngIf="!noData">
        <li class="list-group-item list-group-item-info mb-2" *ngFor="let company of requests">
          <h2>
            {{company.companyName}}
            <span class="date pull-right"><strong>Established Date: </strong>{{ company.establishedAt | date: 'MMM dd, yyyy' }}</span>
          </h2>
          <p>{{ company.about }}</p>
          <div class="row">
            <div class="col">
              <strong>Branches: </strong>{{ company.branches }}
            </div>
            <div class="col">
              <strong>Awards: </strong>{{ company.awards }}
            </div>
            <div class="col">
              <strong>Website: </strong><a href="http://{{company.website}}" target="blank">{{ company.website }}</a>
            </div>
            <div class="col">
              <button class="btn btn-success btn-md pull-right" (click)="acceptRequest(company)"><strong>Accept</strong></button>
              <button class="btn btn-danger btn-md pull-right"><strong>Reject</strong></button>
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-group" *ngIf="noData">
        <li class="list-group-item">
          <b>No Requests</b>
        </li>
      </ul>
    </div>
  </div>
</div>