<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mb-4">
        <div class="card">
        <div class="card-body">
            <form (submit)="authenticateUser()">
                <h2 class="text-center font-up font-bold deep-orange-text py-4">Login</h2>
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" name="username" autocomplete="off" [(ngModel)]="username" placeholder="Username" class="form-control">
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" [(ngModel)]="password" name="password"  placeholder="Your Password" class="form-control">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-deep-orange">Login</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>