<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mb-4">
      <div class="card" style="margin-top:10px">
        <div class="card-body">
          <form (submit)="sendRequest()">
            <h4 class="text-center font-up font-bold deep-orange-text py-4">Request for Company</h4>
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" autocomplete="off" name="companyName" [(ngModel)]="companyName" placeholder="Enter Company Name" class="form-control">
            </div>
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="text" name="website" [(ngModel)]="website" placeholder="Enter Website URL" class="form-control">
            </div>

            <div class="md-form">
              <i class="fas fa-code-branch prefix grey-text"></i>
              <input type="text" name="branch" [(ngModel)]="branch" placeholder="Enter Branch" class="form-control">
              <i class="fas fa-plus btn-primary btn-sm pull-right" (click)="addBranchInput()"></i>
            </div>
            <div class="md-form">
              <i class="fas fa-award prefix grey-text"></i>
              <input type="text" name="award" [(ngModel)]="award" placeholder="Enter Awards if any" class="form-control">
            </div>

            <div class="md-form">
                <i class="fas fa-font prefix grey-text"></i>
                <textarea name="about" [(ngModel)]="about" rows="3" placeholder="Write something about you company" class="form-control"></textarea>
            </div>
            <div class="md-form">
              <i class="fas fa-building prefix grey-text"></i>
              <textarea name="address" [(ngModel)]="address" rows="5" placeholder="Address" class="form-control"></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-deep-orange">Send Request</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>